
/* APP CSS */

body{
    user-select:none;
    margin: 0;
    padding: 0;

}

.homeContainer{
    height: 100%;
    width: 100%;
}


/* HEADER CSS */

.side-nav.right-aligned{
    transition-timing-function: ease-out;
    transition-duration: 0.50s;
}

#mobileNav{
    width: 30%;
    background-color: #fffabe;
}

.large.material-icons{
    font-size: 36px;
}

.nav-wrapper{
    background-color:#fffabe;
}
a.li{
    color:black;
}
.brand-logo{
    margin: 2% 0 0 3%;
}

nav ul li:hover{
    background-color: #f896b0;
}

.material-icons{
    color: black;
}


/* WELCOME CSS */

.welcomeImg{
    margin: 1% 0 0 0;
    width: 100%;
}

.macarons{
    margin-top: 14%;
    height: 45vh;
    background-size: auto;
    background-repeat: no-repeat;
}

.days{
    display: flex;
    height: 25vh;
    
}

.everyday{
    width: 13.3%;
    height: 90%;
    background-color:#fffabe;
    margin: 0 .5% 2% .5%;

}

.daystop{
    margin-top:7%;
    height: 45%;
    width: 100%;
    padding-left: 3px;
}

.daysmiddle{
    height: 25%;
    padding-left: 3px;
}

.daysbottom{
    height:25%;
    padding-left: 3px;
}

#monday{
    background-color: #824603;
}

#wednesday{
    background-color: #df5277;
}

#friday{
    background-color: #a2304e;
}

#sunday{
    background-color: #c39003;
}

.middleText{
    padding: 0;
}

.smallMacaronImg{
    float:right;
    margin-right:7%;
}

p{
    padding:0;  
    font-size: 2.3vmin;
}

h4{
    font-size:5vmin;
}


/* OUR MACARONS CSS */

.ourMacaronsImg{
    margin: 1% 0 0 0;
    width: 100%;
}


/* GIFTS AND PARTIES CSS */

.giftsPartiesImg{
    margin: 1% 0 0 0;
    width: 100%;
}


/* CONTACT CSS */

.contactImg{
    margin: 1% 0 0 0;
    width: 100%;
}

.divider{
    margin: 1% 0 1% 0;
}

.clearBtn{
    margin-left: 2%;
}

.submitBtn{
    margin-right: 2%;
}
/* FOOTER CSS */

.copyR{

    font-size: 1.5vmin;
}

.page-footer{
    height: 14vh;
    background-color:#df5277;
    padding-top: 2%;

}

.footerRow{
    padding-bottom: .5%;
    margin-bottom: 0; 
}
p{
    margin:0;
}

@media only screen and (min-width: 250px) {
    #mobileNav{
        width: 60%;
    }
    p{
        font-size: 3.3vmin;
    }
    .contactText{
        margin-top: 8%;
    }
    .visitUs{
        font-size: 7vmin;
    }
}

@media only screen and (min-width: 550px){
    #mobileNav{
        width: 50%;
    }
    p{
        font-size: 2.9vmin;
    }
    .contactText{
        margin-top: 8%;
    }
    .visitUs{
        font-size: 7vmin;
    }
}

@media only screen and (min-width: 750px){
    #mobileNav{
        width: 40%;
    }
    p{
        font-size: 2.5vmin;
    }
    .contactText{
        margin-top: 8%;
    }
    .visitUs{
        font-size: 6vmin;
    }
}

@media only screen and (min-width: 1050px){
  
    .contactText{
        margin-top: 0;
    }
    p{
        font-size: 2.3vmin;
    }
  
}