
/* APP CSS */

body{
    user-select:none;
    margin: 0;
    padding: 0;

}

.homeContainer{
    height: 100%;
    width: 100%;
}


/* HEADER CSS */

.nav-wrapper{
    background-color:#fffabe;
}
a.li{
    color:black;
}
.brand-logo{
    margin: 1% 0 0 3%;
}

nav ul li:hover{
    background-color: #f896b0;
}

.material-icons{
    color: black;
}


/* WELCOME CSS */

.welcomeImg{
    margin: 1% 0 0 0;
    width: 100%;
}

#welcomeImage{
    padding: 0;
}

.macarons{
    margin-top: 7%;
    height: 45vh;
    background-size: auto;
    background-repeat: no-repeat;
}

.days{
    display: flex;
    height: 25vh;
    
}

.everyday{
    width: 13.3%;
    height: 90%;
    background-color:#fffabe;
    margin: 0 .5% 2% .5%;
}

.daystop{
    margin-top:7%;
    height: 45%;
    width: 100%;
}

.daysmiddle{
    height: 25%;
}

.daysbottom{
    height:25%;
}

#monday{
    background-color: #824603;
}

#wednesday{
    background-color: #df5277;
}

#friday{
    background-color: #a2304e;
}

#sunday{
    background-color: #c39003;
}

.middleText{
    padding: 0;
}

.smallMacaronImg{
    float:right;
    margin-right:7%;
}

p{
    padding:0;  
    font-size: 2.3vmin;
}

h4{
    font-size:5vmin;
}


/* OUR MACARONS CSS */

.ourMacaronsImg{
    margin: 1% 0 0 0;
    width: 100%;
}

#ouMacaronsImg{
    padding: 0;
}


/* GIFTS AND PARTIES CSS */

.giftsPartiesImg{
    margin: 1% 0 0 0;
    width: 100%;
}

#giftsPartiesImg{
    padding: 0;
}


/* CONTACT CSS */

.contactImg{
    margin: 1% 0 0 0;
    width: 100%;
}

.divider{
    margin: 1% 0 1% 0;
}

.clearBtn{
    margin-left: 2%;
}

#contactImage{
    padding: 0;
}


/* FOOTER CSS */

.copyR{

    font-size: 1.5vmin;
}

.page-footer{

    background-color:#df5277;

}

.footerRow{
    padding-bottom: .5%;
    margin-bottom: 0; 
}
p{
    margin:0;
}