
/* APP CSS */

body{
    user-select:none;
    margin: 0;
    padding: 0;

}

.homeContainer{
    height: 100%;
    width: 100%;
}


/* HEADER CSS */

.side-nav.right-aligned{
    transition-timing-function: ease-out;
    transition-duration: 0.5s;
}

#mobileNav{
    width: 30%;
    background-color: #fffabe;
}

.large.material-icons{
    font-size: 36px;
}

.nav-wrapper{
    background-color:#fffabe;
}
a.li{
    color:black;
}
.brand-logo{
    margin: 2% 0 0 3%;
}

nav ul li:hover{
    background-color: #f896b0;
}

.material-icons{
    color: black;
}

.macaronsNav{
    margin: 8% 0 0 8%;
}

/* WELCOME CSS */

.welcomeImg{
    margin: 1% 0 0 0;
    width: 100%;
}

.macarons{
    margin-top: 12%;
    height: 45vh;
    background-size: auto;
    background-repeat: no-repeat;
}

.days{
    display: flex;
    /* flex-wrap: wrap; */
    height: 25vh;
    
}


.everyday{
    width: 13.3%;
    height: 90%;
    background-color:#fffabe;
    margin: 0 .5% 2% .5%;

}
.daysMed{
    background-color:#fffabe;
    margin-top:1.5%;
    height: 11vh;
}
.daystop{
    margin-top:7%;
    height: 45%;
    width: 100%;
    padding-left: 3px;
}

.daysmiddle{
    height: 25%;
    padding-left: 3px;
}

.daysbottom{
    height:25%;
    padding-left: 3px;
}

.daysText{
    font-size:2vmin;
}

#monday{
    background-color: #824603;
}

#wednesday{
    background-color: #df5277;
}

#friday{
    background-color: #a2304e;
}

#sunday{
    background-color: #c39003;
}

#sMonday, #sWednesday, #sFriday, #sSunday{
    background-color: #c3edfb;
}
.middleText{
    padding: 0;
}

.smallMacaronImg{
    float:right;
    margin-right:7%;
}

.macaronsPicInfo{
    height: 48%;
    margin-top: 2%;
}

#macaronsPicText{
    height: 100%;
}

#sMacaronsPicImages{
    height: 100%;
}

.macaronsPicText{
    height: 45%;
    margin-top: 5%;
}

p{
    padding:0;  
    font-size: 2.3vmin;
}
pFlavor{
    font-size: 1.9vmin;

}

h4{
    font-size:5vmin;
}


/* OUR MACARONS CSS */

.ourMacaronsImg{
    margin: 1% 0 0 0;
    width: 100%;
}

#list1, #list2{
    padding:0;
}
/* GIFTS AND PARTIES CSS */

.giftsPartiesImg{
    margin: 1% 0 0 0;
    width: 100%;
}

#giftsRight{
    height: 55vh;
}


/* CONTACT CSS */
.formErrors{
    height: 5vh;
    color: red;
}

.contactImg{
    margin: 1% 0 0 0;
    width: 100%;
}

.divider{
    margin: 3% 0 3% 0;
}

.clearBtn{
    margin-left: 2%;
}

.submitBtn{
    margin-right: 2%;
}

.messageSent{
    font-size: 37px;
    float:right;
    color: white;
    background-color: rgb(73, 228, 12);
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), ;

}
/* FOOTER CSS */

.copyR{
    padding-top: 4%;
    font-size: 1.5vmin;
}

.page-footer{
    height: 110px;
    background-color:#df5277;
    padding-top: 2%;

}

.footerRow{
    padding-bottom: .5%;
    margin-bottom: 0; 
}

p{
    margin:0;
}


/* //////////////////////MEDIA QUERIES///////////////////// */


@media only screen and (min-width: 250px) and (max-width: 499px){
    #mobileNav{
        width: 70%;
    }
    p{
        font-size: 3.2vmin;
    }
    li{
        font-size: 3.4vmin;
    }
    .contactText{
        margin-top: 8%;
    }
    .visitUs{
        font-size: 7vmin;
    }
    .order, .facebook,
    .phone{
        margin-top:1%;
        font-size: 4vmin;
    }
    .copyR{
        font-size: 3vmin;
        padding-top:3%;
    }
    .page-footer{
        height: 16vh;
    }
    #firstName, #email, #phone, #message{
        height: 2rem;
    }
    .daysText{
        font-size:3.2vmin;
    }
    .row{
        margin-bottom: 4%;
    }
    #everyday{
        display: none;
    }
    h4{
        text-align: center;
    }
    .daysMed{
        height: 9vh;
    }
    #giftsRight{
        height: auto;
    }
}

@media only screen and (min-width: 375px) and (max-width: 499px){
    .order, .facebook,
    .phone{
        margin-top:1%;
        font-size: 3vmin;
    }
    .copyR{
        font-size:2vmin;
        padding-top:2%;
    }
}

@media only screen and (min-width: 500px) and (max-width: 599px){
    #mobileNav{
        width: 50%;
    }
    p{
        font-size: 2.7vmin;
    }
    li{
        font-size: 2.8vmin;
    }
    .contactText{
        margin-top: 8%;
    }
    .visitUs{
        font-size: 7vmin;
    }
    .order, .facebook,
    .phone{
        margin-top:.5%;
        font-size: 2.3vmin;
    }
    .copyR{
        font-size: 2vmin;
        padding-top:2%;
    }
    .container{
        width: 90%;
    }
    #firstName, #email, #phone, #message{
        height: 2rem;
    }
    .daysText{
        font-size:3vmin;
    }
    h4{
        text-align: center;
    }
    #everyday{
        display: none;
    }
    #giftsRight{
        height: auto;
    }
   
}

@media only screen and (min-width: 600px) and (max-width: 699px){
    #mobileNav{
        width: 40%;
    }
    p{
        font-size: 2.3vmin;
    }
    li{
        font-size: 2.2vmin;
    }
    .container{
        width: 85%;
    }
    #firstName, #email, #phone, #message{
        height: 2rem;
    }
    .daysText{
        font-size:2vmin;
    }
    h4{
        text-align: center;
    }
    .page-footer{
        height: 80px;
    }
}

@media only screen and (min-width: 700px) and (max-width: 1050px) {
    #mobileNav{
        width: 30%;
    }
    p{
        font-size: 2.2vmin;
    }
    li{
        font-size: 2.1vmin;
    }
    .contactText{
        margin-top: 8%;
    }
    .visitUs{
        font-size: 6vmin;
    }
    .order, .facebook,
    .phone{
        margin-top:.5%;
        font-size: 2.2vmin;
    }

    .copyR{
        font-size: 2vmin;
    }
    .page-footer{
        height: 14vh;
    }
    .container{
        width: 80%;
    }
    #firstName, #email, #phone, #message{
        height: 2.5rem;
    }
    .daysText{
        font-size:2vmin;
    }
    h4{
        text-align: left;
    }

}

@media only screen and (min-width: 1051px) and (max-width: 1190px) {
    .container{
        width: 80%;
    } 
    .daysText{
        font-size:2vmin;
    }
    h4{
        text-align: left;
    }
}

@media only screen and (min-width: 1191px) {
    .container{
        width: 70%;
    }
    #firstName, #email, #phone, #message{
        height: 3rem;
    }
    .daysText{
        font-size:2vmin;
    }
    h4{
        text-align: left;
    }
}