.copyR{

    font-size: 9px;
}
.footerMiddle{
    text-align: center;
}
.footerLeft{
    text-align:center;
}

.page-footer{
    height: 10%;
    padding: 0;
    background-color:#df5277;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.footerRow{
    padding-top: 1%;
}
p{
    margin:0;
}
.mailImg{
    float:left;
    margin-left:18%;
    padding-top:1%;
}
.twitterImg{
    float:right;
    margin:1% 40% 0 5%;
    padding-top:1%;
}
.facebookImg{
    float:right;
   
    padding-top:.5%;
}
.phoneImg{
    float:left;
    margin-left: 40%;
}
.phone{
    padding:0;
    margin-right: 36%;
}
