.copyR{

    font-size: 9px;
}
.footerMiddle{
    text-align: center;
}
.footerLeft{
    text-align:center;
}
.footerRight{
    text-align:center;
}
.page-footer{
    height: 20%;
    padding: 0;
    background-color:#df5277;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.footerRow{
    padding-top: 1%;
}
p{
    margin:0;
}
.mailImg{
    float:left;
    margin-left:35%;
    padding-top:1%;
}
.facebookImg{
    float:right;
}
.twitterImg{
    float:right;
}
.phoneImg{
    float:left;
}
