.nav-wrapper{
    background-color:#fffabe;
}
a.li{
    color:black;
}
.brand-logo{
    margin: 1% 0 0 3%;
}

nav ul li:hover{
    background-color: #f896b0;
}

.material-icons{
    color: black;
}


