
.welcomeImg{
    margin: 1% 0 0 0;
    width: 100%;
}

.macarons{
    margin-top: 7%;
    height: 45vh;
    background-size: auto;
    background-repeat: no-repeat;

   
}

.days{
    display: flex;
    height: 25vh;
    
}
.everyday{
    width: 13.3%;
    height: 90%;
    background-color:#fffabe;
    margin: 0 .5% 2% .5%;
}

.daystop{
    margin-top:7%;
    height: 45%;
    width: 100%;
}

.daysmiddle{
    height: 25%;
}

.daysbottom{
    height:25%;
}

#monday{
    background-color: #824603;
}

#wednesday{
    background-color: #df5277;
}

#friday{
    background-color: #a2304e;
}

#sunday{
    background-color: #c39003;
}

.middleText{
    padding: 0;
}

.smallMacaronImg{
    float:right;
    margin-right:7%;
}

p{
    padding:0;  
}